//
//  META BOX
//––––––––––––––––––––––––––––––––––––––––––––––––––

.meta-box-sortables,
.postbox {
  box-shadow: none;
}

.metabox-holder {
  .postbox,
  .stuffbox {
    background: $white;
    // border: 1px solid darken($body-background-color, 5%);
    border: 0;
    border-radius: 4px;
    box-shadow: 
      0 2px 10px rgba($black, .025),
      0 0 2px rgba($black, .05);
    margin-bottom: $gutter * 1.5;

    .ui-sortable-handle,
    h2 {
      // background: transparent;
      border: 0;
      background: lighten($color-gray-f, 1%);
      border-bottom: 1px solid $color-gray-e;
      border-radius: 5px 5px 0 0;
      // font-size: 12px !important;
      // padding-top: $gutter;
      // text-transform: uppercase;

      span {
        line-height: 1.6;
      }
    }

    .handlediv {
      height: 32px;
    }

    .inside {
      background: transparent;
      // border: 1px solid darken($body-background-color, 5%);
      box-sizing: border-box;
      display: inline-block;
      margin: 0 !important;
      width: 100%;
      vertical-align: top;
    }
  }
}


//
//  CLOSED
//––––––––––––––––––––––––––––––––––––––––––––––––––

.metabox-holder {
  .postbox {
    &.closed {
      .inside {
        display: none;
      }
    }
  }
}


//
//  PUBLISHING OPTIONS
//––––––––––––––––––––––––––––––––––––––––––––––––––

#major-publishing-actions {
  background: lighten($color-gray-f, 1%);
  border-top: 1px solid $color-gray-e;
  border-radius: 0 0 5px 5px;
}